.banner {
  width: 100vw;
  height: 35vh;
}
.banner img {
  width: inherit;
  height: inherit;
}

@media only screen and (max-width: 600px) {
  .banner {
    height: inherit;
  }
  .banner img {
    object-fit: contain;
  }
}
